* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: 0;
}

body {
  background: url(img.jpg) no-repeat;
  background-size: 100%;
}

#container {
  width: 605px;
  margin: 35px auto;
}

/* --- Cabeçalho e Título --- */

header {
  background-color: #1f87cc;
  color: white;
  padding: 20px;
  text-align: center; 
  margin-bottom: 20px;
  border: 9px solid #186aa0;
  border-radius: 6px;
}

header h1 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-family: Mochiy Pop P One, sans-serif;
  background-color: #76b6e0;
}

/* --- Input (text) e Button (adicionar) --- */

#novaTarefa {
  background-color:	#2697e2;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 9px solid #186aa0;
  border-radius: 6px;
  margin-bottom: 20px;
 }

 #novaTarefa input {
  font-size: 20px;
  font-style: italic;
  font-family: Lato;
  padding: 8px;
  margin: 15px 0;
  height: 20px;
  width: 400px;
 }

 #botaoAdicionar {
  width: 60px;
  height: 40px;
  margin-left: 5px;
  cursor: pointer;
 }

 #botaoAdicionar:hover {
  background-color: rgb(110, 194, 110);
  color: white;
  transition-duration: 200ms;
 }

 #novaTarefa span{
  font-size: 25px;
  margin-top: 2px;
 }

/* --- Input (checkbox) e Button (excluir) --- */

#listaTarefas li {
  font-size: 20px;
  background-color: #2c9eeb;
  padding: 10px;
  margin-top: 7px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 9px solid #186aa0;
  border-radius: 6px;
}

#listaTarefas input {
  height: 20px;
  width: 40px;
}

#listaTarefas input[type="checkbox"]:checked + label {
  text-decoration: line-through;
  text-decoration-color: #186aa0;
  text-decoration-thickness: 5px;
}

#listaTarefas label {
  color: white;
  font-family: IBM Plex Mono;
  font-weight: bold;
  width: 500px;
}

span.texto-tarefa {
  font-size: 18px;
  color: white;
  width: 200px;
  margin-right: 280px;
}

#listaTarefas button {
  cursor: pointer;
}

#listaTarefas button:hover {
  background-color: red;
  transition-duration: 300ms;
}

span.material-icons.lixeira {
  font-size: 23px;
  margin-top: 2px;
  color: rgba(85, 84, 84, 0.952);
 }

 span.material-icons.lixeira:hover {
  color: white;
 }

 footer {
  background-color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  padding: 10px;
 }

 footer p {
  font-size: 17px;
  color: #1f87cc;
  font-family: IBM Plex Mono;
  font-weight: bold;
 }

 footer a {
   color: #1f87cc;
 }

 footer a:hover{
  color: #051f31;
}